In [1]:
import pandas as pd
import numpy as np

In [9]:
data=pd.DataFrame({'x':[4,9,10,14,4,7,12,22,1,17],'y':[31,58,65,73,37,44,60,91,21,84]})

In [10]:
data

    x   y
0   4  31
1   9  58
2  10  65
3  14  73
4   4  37
5   7  44
6  12  60
7  22  91
8   1  21
9  17  84

In [12]:
np.mean(x)

10.0

In [13]:
np.mean(y)

56.4

In [16]:
import statsmodels.formula.api as smf

In [17]:
result=smf.ols('y~x',data).fit()

In [18]:
result.summary()

C:\Users\Ashok\Anaconda3\lib\site-packages\scipy\stats\stats.py:1394: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.953
Model:                            OLS   Adj. R-squared:                  0.947
Method:                 Least Squares   F-statistic:                     162.4
Date:                Mon, 17 Jun 2019   Prob (F-statistic):           1.35e-06
Time:                        12:29:57   Log-Likelihood:                -29.714
No. Observations:                  10   AIC:                             63.43
Df Residuals:                       8   BIC:                             64.03
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     21.6926      3.194      6.791      0.000      14.326      29.059
x              3.4707      0.272     12.745      0.000       2.843       4.099
==============================================================================
Omnibus:                        0.618   Durbin-Watson:                   1.045
Prob(Omnibus):                  0.734   Jarque-Bera (JB):                0.571
Skew:                           0.249   Prob(JB):                        0.752
Kurtosis:                       1.941   Cond. No.                         22.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
y=21.6926+3.4707*(10)
y

56.3996

In [24]:
np.var(x)

37.6

In [26]:
y=21.6926+3.4707*(25)
y

108.4601

In [31]:
data.corr()

          x         y
x  1.000000  0.976248
y  0.976248  1.000000

In [32]:
data.describe()

               x          y
count  10.000000  10.000000
mean   10.000000  56.400000
std     6.463573  22.979218
min     1.000000  21.000000
25%     4.750000  38.750000
50%     9.500000  59.000000
75%    13.500000  71.000000
max    22.000000  91.000000

In [39]:
data1=pd.read_csv('C:/Users/Ashok/Downloads/headbrain.csv')

In [41]:
data1.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [43]:
data1.shape

(237, 4)

In [44]:
data1.corr()

                       Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
Gender               1.000000  -0.088652        -0.514050            -0.465266
Age Range           -0.088652   1.000000        -0.105428            -0.169438
Head Size(cm^3)     -0.514050  -0.105428         1.000000             0.799570
Brain Weight(grams) -0.465266  -0.169438         0.799570             1.000000

In [48]:
x1=[48,62,79,76,59,69,70,46,61,86,62]
x2=[68,81,80,83,64,84,84,48,78,78,69]
y=[63,72,78,79,62,85,83,41,80,77,64]

In [49]:
Data3=pd.DataFrame({'x1':x1,'x2':x2,'y':y})

In [54]:
Data3

    x1  x2   y
0   48  68  63
1   62  81  72
2   79  80  78
3   76  83  79
4   59  64  62
5   69  84  85
6   70  84  83
7   46  48  41
8   61  78  80
9   86  78  77
10  62  69  64

In [50]:
result1=smf.ols('y~x1+x2',Data3).fit()

In [51]:
result1.summary()

C:\Users\Ashok\Anaconda3\lib\site-packages\scipy\stats\stats.py:1394: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=11
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.947
Model:                            OLS   Adj. R-squared:                  0.934
Method:                 Least Squares   F-statistic:                     71.76
Date:                Mon, 17 Jun 2019   Prob (F-statistic):           7.77e-06
Time:                        13:05:46   Log-Likelihood:                -27.037
No. Observations:                  11   AIC:                             60.07
Df Residuals:                       8   BIC:                             61.27
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -12.9725      7.112     -1.824      0.106     -29.372       3.427
x1             0.0711      0.123      0.577      0.580      -0.213       0.355
x2             1.0718      0.137      7.845      0.000       0.757       1.387
==============================================================================
Omnibus:                        1.732   Durbin-Watson:                   1.836
Prob(Omnibus):                  0.421   Jarque-Bera (JB):                0.303
Skew:                          -0.378   Prob(JB):                        0.859
Kurtosis:                       3.299   Cond. No.                         711.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [53]:
y=-12.9725+(0.0711)*91+(1.0718)*67
y

65.30820000000001

In [55]:
data1.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x=data1.drop('Brain Weight(grams)',axis=1)
y=data1[['Brain Weight(grams)']]

In [148]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=50)

In [149]:
from sklearn.linear_model import LinearRegression

In [150]:
LR=LinearRegression()

In [151]:
LR.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [152]:
model1=LR.predict(xtest)

In [153]:
from sklearn.metrics import mean_squared_error

In [154]:
a=mean_squared_error(ytest,model1)

In [155]:
print(np.sqrt(a))

57.52342533343083