# 1. Write a code to concatenate firstname and lastname and display the output, where both are of string datatype?

In [1]:
str1='Ashok'
str2='Subramaniam'
str3=str1+str2
print(str3,type(str3))

AshokSubramaniam <class 'str'>

# 2. Write a code to replace ‘hai’ to ‘hello’ in the given list.
lis=(“hai”,”world”,43,56)

In [2]:
lis=['hai','world',43,56]
lis[0]='hello'
print(lis)

['hello', 'world', 43, 56]

# 3. Write a code to add “alpha”:26 to the existing dictionary.

In [3]:
dic={'Eddy':13,'Maria':44,'Jas':21}
dic['alpha']=26
print(dic)

{'Eddy': 13, 'Maria': 44, 'Jas': 21, 'alpha': 26}

# 4. Write a code to print only the even numbers till 11.

In [4]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

# 5. Write a code to print “Python” for multiples of three instead of the number, “Coding” for the multiples of five, “Python Coding” for multiples of both three and five (range is from 1 to 26).

In [5]:
for i in range(1,26):
    if i%3==0 and i%5==0:
        print('Python Coding')
    elif i%5==0:
        print('Coding')
    elif i%3==0:
        print('Python')

Python
Coding
Python
Python
Coding
Python
Python Coding
Python
Coding
Python
Python
Coding

# 6. Write a code to display “hello world” 5 times without changing the given while condition (while count<=10).

In [6]:
count = 1
while(count <=10) :
    print("hello world")
    count = count + 1 
    if(count==6):
        break

hello world
hello world
hello world
hello world
hello world

# 7. Write a code to find the factors of 24?

In [7]:
x=24
for i in range(1,x+1):
    if x%i==0:
        print(i)

1
2
3
4
6
8
12
24

# 8. Write a code to

In [8]:
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]

i) extract name elements alone

In [9]:
for i in d:
    for j,k in i.items():
        if j=='name':
            print(j,'--',k)

name -- hydrogen
name -- carbon

ii) multiply the number element by 6.07

In [10]:
for i in d:
    for j,k in i.items():
        if j=='number':
            print(j,'--',k*6.17)

number -- 6.17
number -- 12.34

iii) extract the element where name is carbon (use map).

In [11]:
a=[i for i in d for j,k in i.items() if k=='carbon']
b=map(lambda x:x,a)
print(list(b))

[{'name': 'carbon', 'number': 2, 'weight': 4.002}]

# 9. Create a dataset with columns ‘name’, ‘age’, ‘marks’ with values alpha,beta,gamma,delta to name column; 23,45,12,65 to age column; 34.54,89.3,98.23,99 to marks column.

In [12]:
#creating a datset

In [13]:
import numpy as np
dt = np.dtype([('Name', np.unicode_, 16), ('Age', np.int32),('Marks',np.float64)]) 
dt

dtype([('Name', '<U16'), ('Age', '<i4'), ('Marks', '<f8')])

In [14]:
data = np.array([('alpha',23,34.54), ('beta',45,89.3),('gamma',12,98.23),('delta',65,99)], dtype=dt) 
print(data)

[('alpha', 23, 34.54) ('beta', 45, 89.3 ) ('gamma', 12, 98.23)
 ('delta', 65, 99.  )]

i) Write a code to extract gamma’s age

In [15]:
print('gamma age is :',data[2]['Age'])

gamma age is : 12

ii) Write a code to extract ‘marks’ and ‘age’ columns from 0th index with 2 intervals in single code

In [16]:
a=data[0][['Marks','Age']]
for i in a:
    print(i)

34.54
23

iii) Write a code to extract 12,45 from ‘age’ column in the order specified

In [17]:
a=data['Age']
b=a[::-1]
c=b[1:3]
for i in c:
    print(i,end=',')

12,45,

# SECTION C – 1*7 = 7 marks

# Write a Python Program to swap the first and last elements in the list

1.	Get the count of how many elements should be there in the list

In [18]:
new_list=[2,3,4,5,6,7,8,9,10]
print(len(new_list))

9

2.	Enter the elements one by one and create a list

In [19]:
list1=[]
list1.append(4)
list1.append(7)
list1.append(9)
list1.append(6)
list1.append(3)
list1.append(2)
list1.append(3)
list1.append(0)

In [20]:
print(list1)

[4, 7, 9, 6, 3, 2, 3, 0]

3.	Create a  program to swap the first and last elements in the list

In [21]:
def swap(l, p1, p2): 
    l[p1],l[p2] = l[p2],l[p1] 
    return l
p1,p2  = 1, 8 
l=[4, 7, 9, 6, 3, 2, 3, 0]
print(swap(l, p1-1, p2-1))

[0, 7, 9, 6, 3, 2, 3, 4]

4.	Display the results of the list before and after

In [22]:
print('list before :',list1)

list before : [4, 7, 9, 6, 3, 2, 3, 0]

In [23]:
print('list after :',l)

list after : [0, 7, 9, 6, 3, 2, 3, 4]