In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor,RandomForestRegressor,GradientBoostingRegressor

In [2]:
Data=pd.read_csv('C:\\Users\\Ashok\\Downloads\\ns_dam_data1.csv')

In [3]:
Data.head()

   Y Y-1 Y-2 Y-3 Y-4 Y-5
0  0   0   0   0   0   0
1  0   0   0   0   0   0
2  0   0   0   0   0   0
3  0   0   0   0   0   0
4  0   0   0   0   0   0

In [4]:
Data['Y'].unique()

array(['0', '-- ', '580', ..., '20995', '26246', '23790'], dtype=object)

In [5]:
Data=Data.replace('-- ',np.nan)

In [6]:
Data['Y']=Data['Y'].fillna(Data['Y'].median())

In [7]:
Data['Y-1']=Data['Y-1'].fillna(Data['Y-1'].median())

In [8]:
Data['Y-2']=Data['Y-2'].fillna(Data['Y-2'].median())

In [9]:
Data['Y-3']=Data['Y-3'].fillna(Data['Y-3'].median())

In [10]:
Data['Y-4']=Data['Y-4'].fillna(Data['Y-4'].median())

In [11]:
Data['Y-5']=Data['Y-5'].fillna(Data['Y-5'].median())

In [12]:
X=Data.drop('Y',axis=1)
Y=Data['Y']

In [13]:
xtrain=X[:5600]
ytrain=Y[:5600]

In [14]:
xtrain.shape

(5600, 5)

In [15]:
xtrain.head()

  Y-1 Y-2 Y-3 Y-4 Y-5
0   0   0   0   0   0
1   0   0   0   0   0
2   0   0   0   0   0
3   0   0   0   0   0
4   0   0   0   0   0

In [16]:
ytrain.shape

(5600,)

In [17]:
ytrain.head()

0    0
1    0
2    0
3    0
4    0
Name: Y, dtype: object

In [18]:
xtest=X[5601:]
ytest=Y[5601:]

In [19]:
xtest.shape

(920, 5)

In [20]:
ytest.shape

(920,)

In [21]:
from sklearn import metrics

In [27]:
# apply log scaling to all the columns then rmse will reduce

In [25]:
Ada=AdaBoostRegressor(n_estimators=1000)
RF=RandomForestRegressor()
Grad=GradientBoostingRegressor(n_estimators=1000,learning_rate=0.1)
models = [Ada,RF,Grad]
for mod in models : 
    print(mod)
    print("\n")
    mod.fit(xtrain,ytrain)
    ypred = mod.predict(xtest)
    print("\n \n")
    mse=metrics.mean_squared_error(ytest,ypred)
    rmse=np.sqrt(mse)
    print(rmse)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
         n_estimators=1000, random_state=None)





14810.740260282013
RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

C:\Users\Ashok\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

6811.976936992727
GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=1000, n_iter_no_change=None, presort='auto',
             random_state=None, subsample=1.0, tol=0.0001,
             validation_fraction=0.1, verbose=0, warm_start=False)





6269.534198024894